{% extends 'base.html.twig' %}

{% block title %}Modifier une formation{% endblock %}

{% block contenu %}
<center>
  <h2 class = "display-4">Modification d'une formation</h2>
  <br>
</center>

{{ include('formation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

<br>

{{ include('formation/_delete_form.html.twig') }}
{% endblock %}
