{% extends 'base.html.twig' %}

{% block title %}Ajouter une formation{% endblock %}

{% block contenu %}
<center>
  <h2 class = "display-4">Ajout d'une formation</h2>
  <br>
</center>

{{ include('formation/_form.html.twig') }}

{% endblock %}
