{% extends 'base.html.twig' %}

{% block contenu %}

<h1><center>{{ stage.titre }}</center></h1>
</br></br>

<strong>Formation concernée</strong> :

{% for formationCourante in stage.formation %}
{{formationCourante.nom}}
{% endfor %}
</br></br>

<strong>Entreprise</strong> : {{stage.entreprise.nom}}
</br></br>

<strong>Description</strong> : {{stage.description}}



{% endblock %}
